* {
	margin: 0;
	padding: 0;
}

body {
	background-color: lightblue;
}

.social {
	width: 500px;
	margin: 0 auto;
	text-align: center;
	padding: 50px;
}
.social h2 {
	color: #505050;
	font-size: 40px;
}

.icon-btn {
	width: 75px;
	height: 75px;
	border: 0;
	border-radius: 50%;
	background-color: #fff;
	cursor: pointer;
	font-size: 40px;
	margin: 10px;
	transition: all .2s ease-in-out;
}

.icon-btn:hover {
	transform: scale(1.10);
}

.twitter {
	color: #4099FF;
}

.twitter:hover {
	background-color: #4099FF;
	color: #fff;
}

.facebook {
	color: #3B5998;
}

.facebook:hover {
	background-color: #3B5998;
	color: #fff;
}

.google-plus {
	color: #DB5A3C;
}

.google-plus:hover {
	background-color: #DB5A3C;
	color: #fff;
}

.instagram {
	color: #5C3D2E;
}

.instagram:hover {
	background-color: #5C3D2E;
	color: #fff;
}

.github {
	color: #4183C4;
}

.github:hover {
	background-color: #4183C4;
	color: #fff;
}